@media (min-width: 992px) {
  .msger {
    width: 400px;
    height: 600px;
    right: 10px;
    margin: 25px 10px;
  }
  .msger-input {
    width: 306px;
    height: 50px;
  }
  /* .header-svg-pad {

  } */
}
@media (min-width: 451px) and (max-width: 991px) {
  .msger {
    width: 350px;
    height: 600px;
    right: 5px;
    margin: 15px 5px;
  }
  .msger-input {
    width: 256px;
    height: 50px;
  }
}
@media (max-width: 450px) {
  .msger {
    width: calc(100% - 5px);
    height: calc(100% - 20px);
    right: 2px;
    margin: 10px 0px;
  }
  .msger-input {
    width: calc(100% - 52px);
    height: 50px;
  }
}
@media (max-height: 450px) {
  .msger {
    width: calc(100% - 5px);
    height: calc(100% - 20px);
    right: 2px;
    margin: 10px 0px;
  }
  .msger-input {
    width: calc(100% - 52px);
    height: 50px;
  }
}

:root {
  --body-bg: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  --msger-bg: #fff;
  --border: 6px solid #2E5288;
  --left-msg-bg: #F5F5F5;
  --right-msg-bg: #2E5288;
  --paper-like-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  --intent-item-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 6px 0 rgba(0, 0, 0, 0.19);
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: var(--body-bg);
  font-family: Montserrat;
}

.pop_up_button {
  opacity: 0.7;
  border: rgba(255,255,255,0);
  border-radius: 100px;
  cursor: pointer;
  position: fixed;
  bottom: 23px;
  right: 20px;
  width: 78px;
  height: 78px;
  background: url(img/Activate_button.svg)  no-repeat center center;
  background-size: 75px 75px;
}

.pop_up_button:hover {
  opacity: 1;
}

.msger {
  display: flex;
  position: fixed;
  bottom: 0px;
  flex-flow: column wrap;
  justify-content: space-between;
  border: var(--border);
  border-radius: 10px;
  background: var(--msger-bg);
  box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
}

.msger-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 9px;
  border-bottom: var(--border);
  background: #2E5288;
  /* color: #2E5288; */
}

.msger-header-title {
  color: white;
  font-weight: 300;
  font-size: 130%;
  margin-left: 5px;
  margin-top: 2px;
}

.msger-header-controls {
  display: flex;
  align-items: center;
  gap: 15px;
}
.header-svg-pad {
  position: absolute;
  border-radius: 0px 10px 0px 0px;
  right: 0px;
  z-index: 1; 
  width: 120px;
  height: 44px;
  flex-shrink: 0;
}

.header-btn {
  /* position: relative; */
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  /* margin-left: 10px; */
  z-index: 2
}

.refresh-btn img {
  width: 24.811px;
  height: 25px;
  flex-shrink: 0;
  fill: #FAFAFA;
}
.minimize-btn img {
  width: 23.958px;
  height: 25px;
  flex-shrink: 0;
  fill: #FAFAFA;

}

.msger-chat {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}
.msger-chat::-webkit-scrollbar {
  width: 6px;
}
.msger-chat::-webkit-scrollbar-track {
  background: #ddd;
}
.msger-chat::-webkit-scrollbar-thumb {
  background: #bdbdbd;
}
.msg {
  display: flex;
  align-items: flex-end;
  margin-bottom: 15px;
}
.msg:last-of-type {
  margin-bottom: 0;
}
.nav-bar {
  position: relative;
  width: 88%;
  height: 40px;
  border-radius: 10px;
  padding: 5px;
  background: white;
  border: 1px solid black;
}
.nav-text {
  color: #2E5288;
  padding: 5px 0;
  margin-left: 40px;
  font-weight: 550;
}
.bar-img {
  position: absolute;
  right: 10px;
  top: 10px;
}
.vinuni-img {
  position: absolute;
  left: 10px;
}
.dropdown-arrow-img {
  position: absolute;
  top: 13px;
  right: 10px;
}
.intent-list {
  
}
.intent-item {
  /* display: flex; */
  position: relative;
  width: 88%;
  height: 40px;
  border-radius: 10px;
  padding: 5px;
  background: #EAFFF2;
  /* border: solid 1px; */
  box-shadow: var(--intent-item-shadow);
}
.intent-text {
  color: #2E5288;
  padding: 5px 0;
  margin-left: 40px;
  font-weight: 550;
}
.intent-icon-bg {
  position: absolute;
  /* padding: 5px; */
  border-radius: 10px;
  width: 34px;
  height: 30px;
  left: 7px;
  top: 5px;
  background: url(img/skills.svg)rgba(95, 206, 193, 0.40) no-repeat center center;
}

.msg-bubble {
  display: flex;
  align-items: center;
  position: relative;
  max-width: 450px;
  min-height: 70px;
  width: 80%;
  padding: 15px;
  /* margin: 5px 0 5px 0; */
  border-radius: 20px;
  background: var(--left-msg-bg);
  box-shadow: var(--paper-like-shadow);
}
.copy-img {
  position: absolute;
  right: -32px;
  top: 10px;
}
.link-img {
  position: absolute;
  right: -29px;
  top: 37px;
}
.msg-text {
  font-weight: 300;
  margin-left: 10px;
  margin-right: 10px;
}
.msg-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.msg-info-name {
  margin-right: 10px;
  font-weight: bold;
}
.msg-info-time {
  font-size: 0.85em;
}

.left-msg .msg-bubble {
  border-bottom-left-radius: 0;
}
.left-msg {
  margin-left: 5px;
}
.right-msg {
  flex-direction: row-reverse;
  margin-right: 5px;
}
.right-msg .msg-bubble {
  background: var(--right-msg-bg);
  color: #fff;
  border-bottom-right-radius: 0;
}

.msger-inputarea {
  display: flex;
  padding: 10px;
  border-top: var(--border);
  /* background: #eee; */
  border-radius: 10px;
  border-top: none;
  color: var(--textcolor, #9E9E9E);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.msger-inputarea * {
  padding: 10px;
  border: none;
  /* border-radius: 5px; */
  /* font-size: 1em; */
  /* color: var(--textcolor, #9E9E9E); */
  /* leading-trim: both; */
  /* text-edge: cap; */

}
.msger-input {
  /* flex: 1;
  background: #ddd;
  border-radius: 10px; */
  flex-shrink: 0;
  border-radius: 17px;
  background: #ddd;
  box-shadow: 3.76615px 3.76615px 7.53231px 0px rgba(212, 192, 192, 0.25);
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal; 
}
.msger-send-btn {
  margin-left: 10px;
  display: flex;
  padding: 6px;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  /* gap: 15.048px; */
  flex-shrink: 0;
  border-radius: 70.238px;
  background: #2E5288;
  box-shadow: 3px 3px 12px 0px rgba(23, 195, 206, 0.35);
}

.msger-chat {
  background-color: #fcfcfe;
  background-image: url();
}